<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <!-- share buttons (provided by ct's Sharrif) -->
        <br>
        <div class="shariff" data-lang="en"
        data-services="[&quot;twitter&quot;,&quot;facebook&quot;,&quot;googleplus&quot;,&quot;whatsapp&quot;,&quot;info&quot;]"></div>
        <br>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <!-- https://github.com/heiseonline/shariff -->
    <script src="/js/shariff.min.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//www.janwalter.org/analytics/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 3]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//www.janwalter.org/analytics/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    {% include footer.html %}

  </body>

</html>
